@model GlobalImpact.ViewModels.NewFolder.ReciclarViewModel

@{
	// Calcula a soma dos pesos e a soma dos pontos
	string eco = "";
	if(Model.Type.Equals("glass"))
	{
		eco = "Ecoponto Verde (Vidro)";
	}
	else if (Model.Type.Equals("paper"))
	{
		eco = "Ecoponto Azul (Papel)";
	}
	else
	{
		eco = "Ecoponto Amarelo (Plastico)";
	}
}

<div class="container-background">
	<div class="text-center">
		<h1 class="display-4">Detalhes do Ecoponto</h1>
		<div class="text-left">
			<div class="row">
				<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
					Tipo do Ecoponto: @eco
				</div>
				<div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
					Nome do Utilizador: @Model.UserName
				</div>
			</div>
			<p></p>
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<p class="text-center">Capacidade Total: @Model.EcoPonto.Capacity Kg</p>
					<p class="text-center">Capacidade Atual: @Model.EcoPonto.CurrentCapacity Kg</p>
				</div>
			</div>
		</div>
	</div>

	<p></p>
	@{
		// Calcula a soma dos pesos e a soma dos pontos
		double totalPeso = Model.Reciclados.Sum(item => item.Peso);
		int totalPontos = Model.Reciclados.Sum(item => item.Pontos);
	}

	<div class="text-center">
		<h3 class="display-4">Items Reciclados</h3>
		<div class="text-left">
			<span asp-validation-for="@Model.Type" class="text-danger"></span>
			<div class="flex-row">
				<p>Peso Total: @totalPeso Kg</p>
				<p>Total dos Pontos: @totalPontos</p>
			</div>
			<p>Lista de Items:</p>
			@foreach (var item in Model.Reciclados)
			{
				<div class="items-available-details" style="width: 40%">
					<div class="items-available-details-">
						<h6>@item.Nome</h6>
						<p>@item.Peso KG</p>
					</div>
					<h6>@item.Pontos PONTOS</h6>
				</div>
			}
		</div>
	</div>
	<p></p>
	<form method="post" asp-controller="RecyclingTransaction" asp-action="FinishRecycling">
		<input type="hidden" name="idEco" value="@Model.EcoPonto.Id" />
		<input type="hidden" name="nome" value="@Model.UserName" />
		<input type="hidden" name="peso" value="@totalPeso" />
		<input type="hidden" name="pontos" value="@totalPontos" />
		<button type="submit" class="btn-grad-small">Terminar</button>
	</form>

	<div class="text-center">
		<h2 class="display-4">Itens Disponiveis</h2>
		@foreach (var item in Model.RecItems)
		{
			<div class="items-available text-left">
				<div class="items-available-details">
					<div class="items-available-details-">
						<h6>@item.Nome</h6>
						<p>@item.Peso KG</p>
					</div>
					<h6>@item.Pontos PONTOS</h6>
				</div>
				<form method="post" asp-controller="RecyclingTransaction" asp-action="Rec">
					<input type="hidden" name="idEco" value="@Model.EcoPonto.Id" />
					<input type="hidden" name="type" value="@Model.Type" />
					<input type="hidden" name="nome" value="@Model.UserName" />
					<input type="hidden" name="itemName" value="@item.Nome" />
					<button type="submit" class="btn-grad-small">Adicionar</button>
				</form>
			</div>
		}
	</div>
</div>