@model GlobalImpact.ViewModels.NewFolder.ReciclarViewModel

<h1>Detalhes do Ecoponto</h1>
<p>ID do Ecoponto: @Model.EcoPonto.Id</p>
<p>Tipo do Ecoponto: @Model.Type</p>
<p>Nome do Usuário: @Model.UserName</p>

<h2>Itens</h2>

@foreach (var item in Model.RecItems)
{
    <div>
        <p>@item.Nome - Peso: @item.Peso - Pontos: @item.Pontos</p>
        <form method="post" asp-controller="RecyclingTransaction" asp-action="Rec">
            <input type="hidden" name="idEco" value="@Model.EcoPonto.Id" />
            <input type="hidden" name="type" value="@Model.Type" />      
            <input type="hidden" name="nome" value="@Model.UserName" />
            <input type="hidden" name="itemName" value="@item.Nome" />
            <button type="submit">Adicionar</button>
        </form>
    </div>
}
<p></p>
@{
    // Calcula a soma dos pesos e a soma dos pontos
    double totalPeso = Model.Reciclados.Sum(item => item.Peso);
    int totalPontos = Model.Reciclados.Sum(item => item.Pontos);
}
<h3>Reciclados</h3>
<span asp-validation-for="@Model.Type" class="text-danger"></span>
<p>Total dos Peso: @totalPeso</p>
<p>Total dos Pontos: @totalPontos</p>
<p>Lista de Items</p>
@foreach (var item in Model.Reciclados)
{
    <div>
        <p>@item.Nome - Peso: @item.Peso - Pontos: @item.Pontos</p>
    </div>
}