@model GlobalImpact.ViewModels.RecyclingBin.ReciclarViewModel

@{
	string eco = "";
	if (Model.Type.Equals("glass"))
	{
		eco = "Ecoponto Verde (Vidro)";
	}
	else if (Model.Type.Equals("paper"))
	{
		eco = "Ecoponto Azul (Papel)";
	}
	else
	{
		eco = "Ecoponto Amarelo (Plastico)";
	}
}

<section class="recycle-page">
	<section class="top-main">
		<h1 class="page-name">RECYCLE</h1>
	</section>
	<section class="recycle-main">
		<section class="recycle-info">
			<div class="recycle-bin-info">
				<h5>Bin Info</h5>
				<div class="recycle-bin-info-c">
					<p>@eco</p>
					<p>@Model.EcoPonto.CurrentCapacity/@Model.EcoPonto.Capacity Kg</p>
				</div>
			</div>
			<div class="recycle-current-info">
				@{
					double totalPeso = Model.Reciclados.Sum(item => item.Peso);
					int totalPontos = Model.Reciclados.Sum(item => item.Pontos);
				}

				<span asp-validation-for="@Model.Type" class="text-danger"></span>
				<h5>Recycling</h5>
				<div class="recycle-current-info-p">
					<p>@totalPeso Kg</p>
					<p>@totalPontos Points</p>
				</div>
				<div class="recycle-current-info-items">
					<h6 style="float: inline-start;">Items To Recycle:</h6>
					@foreach (var item in Model.Reciclados)
					{
						<div class="recycle-current-info-items-det">
							<p>@item.Nome</p>
							<p>@item.Peso KG</p>
							<p>@item.Pontos PONTOS</p>
						</div>
					}
				</div>
				<div class="recycle-current-buttons">
					<form method="post" asp-controller="RecyclingTransaction" asp-action="FinishRecycling">
						<input type="hidden" name="idEco" value="@Model.EcoPonto.Id" />
						<input type="hidden" name="nome" value="@Model.UserName" />
						<input type="hidden" name="peso" value="@totalPeso" />
						<input type="hidden" name="pontos" value="@totalPontos" />
						<button type="submit" id="terminar" class="btn-grad">Terminar</button>
					</form>
					<form method="post" asp-controller="RecyclingTransaction" asp-action="CancelTrans">
						<input type="hidden" name="idEco" value="@Model.EcoPonto.Id" />
						<input type="hidden" name="nome" value="@Model.UserName" />
						<input type="hidden" name="type" value="@Model.Type" />
						<button type="submit" id="cancelar" class="btn-grad">Cancelar</button>
					</form>
				</div>
			</div>
		</section>
		<section class="available-items">
			<h5>Available Items To Recycle</h5>
			@foreach (var item in Model.RecItems)
			{
				<div class="items">
					<div class="items-available-details">
						<h6>@item.Nome</h6>
						<p>@item.Peso KG</p>
						<h6>@item.Pontos PONTOS</h6>
					</div>
					<form method="post" asp-controller="RecyclingTransaction" asp-action="Rec">
						<input type="hidden" name="idEco" value="@Model.EcoPonto.Id" />
						<input type="hidden" name="type" value="@Model.Type" />
						<input type="hidden" name="nome" value="@Model.UserName" />
						<input type="hidden" name="itemName" value="@item.Nome" />
						<button type="submit" id="adicionar" class="btn-grad-small">Adicionar</button>
					</form>
				</div>
				<hr / style="margin: 0;">
			}
		</section>
	</section>