@model IEnumerable<GlobalImpact.Models.RecyclingTransaction>

@{
	ViewData["Title"] = "TransacionList";
}

<section class="recycling-transactions-user-page">
	<section class="top-main">
		<h1 class="page-name">RECYCLING TRANSACTIONS</h1>
	</section>

	<section class="recycling-transactions-user-list">
		@foreach (var item in Model)
		{
			<div class="recycling-transaction-item">
				<div class="bin-img">
					<img src="/paper-bin.png" alt="Paper Bin">
				</div>
				<div class="bin-info">
					<h6>@Html.DisplayFor(modelItem => item.RecyclingBin.RecyclingBinType.Type) Bin</h6>
					<p>@Html.DisplayFor(modelItem => item.Id)</p>
				</div>
				<div class="recycling-transactions-weight">
					<h6>@Html.DisplayFor(modelItem => item.Weight) Kg</h6>
				</div>
				<div class="recycling-transactions-date">
					<h6>@item.Date.ToString("MM/dd/yyyy")</h6>
				</div>
				<div class="recycling-transactions-points">
					<h5>@Html.DisplayFor(modelItem => item.Points) Points</h5>
				</div>
			</div>
		}
	</section>
</section>