@model GlobalImpact.Models.ReciclingBin

@{
    ViewData["Title"] = "Details";
}

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin"))
    {

        <h1>Details</h1>

        <div>
            <h4>ReciclingBin</h4>
            <hr/>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Type)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Type)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Latitude)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Latitude)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Longitude)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Longitude)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Capacity)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Capacity)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CurrentCapacity)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CurrentCapacity)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Status)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    }
}