@model IEnumerable<IGrouping<Guid, ProductTransactions>>

<div class="container">
    <h1>Administração de Encomendas</h1>
    <form method="post" asp-controller="Products" asp-action="FilterAdminTransactions" class="d-flex align-items-center">
        <div class="mr-2">
            <input type="date" id="date" name="date" class="form-control" style="width: 200px;">
        </div>
        <div class="mr-2">
            <input type="text" id="userName" name="userName" class="form-control" style="width: 200px;">
        </div>
        <button type="submit" class="btn-grad">Filtrar</button>
    </form>
    <div class="row">
        <div class="col">
            @foreach (var group in Model)
            {
                <div class="card mb-3">
                    @{
                        var firstTransaction = group.FirstOrDefault();
                        var totalPoints = 0;
                    }
                    @if (firstTransaction != null)
                    {
                        <div class="card-header">
                            <h5 class="card-title"> Data: @firstTransaction.Date</h5>
                            <h5 class="card-title"> Status: @firstTransaction.TransStatus</h5>
                            <h5 class="card-title"> Nome: @firstTransaction.UserName</h5>
                        </div>
                    }
                    <div class="card-header">
                        <span class="text-muted">Transação ID: @group.Key</span>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            @foreach (var transaction in group)
                            {
                                var transactionPoints = transaction.Quantity * transaction.Points;
                                totalPoints += transactionPoints;

                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <strong>Produto:</strong> @transaction.ProductName
                                        </div>
                                        <div class="col-md-3">
                                            <strong>Quantidade:</strong> @transaction.Quantity
                                        </div>
                                        <div class="col-md-3">
                                            <strong>Pontos/Uni:</strong> @transaction.Points
                                        </div>
                                    </div>
                                </li>
                            }
                            <li class="list-group-item">
                                <strong>Total de Pontos Gastos:</strong> @totalPoints
                                <p></p>
                                <form method="post" asp-controller="Products" asp-action="ConfirmTransactions">
                                    <input type="hidden" name="transId" value="@group.Key" /> <!-- O ID do item -->
                                    <button type="submit" class="btn btn-success">Confirmar Encomenda</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>