@model GlobalImpact.Models.Product

@{
	ViewData["Title"] = "Delete";
}

<style>
	dl {
		width: 40%;
		margin-top: 20px;
	}

	dt {
		text-align: start;
	}

	dd {
		text-align: end;
	}
</style>

@if (User.Identity.IsAuthenticated)
{
	@if (User.IsInRole("admin"))
	{

		<div class="text-center text-white">
			<h1 class="text-white">Apagar produto?</h1>
			<dl class="row">
				<dl class="row">
					<dt class="col-sm-2">
						@Html.DisplayNameFor(model => model.Name)
					</dt>
					<dd class="col-sm-10">
						@Html.DisplayFor(model => model.Name)
					</dd>
					<dt class="col-sm-2">
						@Html.DisplayNameFor(model => model.Description)
					</dt>
					<dd class="col-sm-10">
						@Html.DisplayFor(model => model.Description)
					</dd>
					<dt class="col-sm-2">
						@Html.DisplayNameFor(model => model.Points)
					</dt>
					<dd class="col-sm-10">
						@Html.DisplayFor(model => model.Points)
					</dd>
					<dt class="col-sm-2">
						@Html.DisplayNameFor(model => model.Stock)
					</dt>
					<dd class="col-sm-10">
						@Html.DisplayFor(model => model.Stock)
					</dd>
					<dt class="col-sm-2">
						@Html.DisplayNameFor(model => model.Category)
					</dt>
					<dd class="col-sm-10">
						@Html.DisplayFor(model => model.Category.Category)
					</dd>
				</dl>

				<form asp-action="Delete">
					<input type="hidden" asp-for="Id" />
					<div class="row mt-4 text-center">
						<div class="text-white" style="margin: 20px 0px;">
							<input type="submit" value="Apagar produto" class="btn-grad" style="font-size: 17px; background-color: red;" />
						</div>
						<div class="form-plus text-center">
							<a asp-action="Index">Voltar</a>
						</div>
					</div>
				</form>
		</div>
	}
}