@model IEnumerable<GlobalImpact.Models.Product>


@{
	ViewData["Title"] = "Index";
}
@if (User.Identity.IsAuthenticated)
{
	@if (User.IsInRole("admin"))
	{

		<div class="text-center" id="productsRow">
			<div style="display:flex;">
				<h1 class="display-4">Products</h1>
				<a class="btn-grad" onclick="toggleFilterRow()">Filter</a>
			</div>

			<div class="text-center" style="width: 100%;">
				<table class="table">
					<thead>
						<tr>
							<th>
								@Html.DisplayNameFor(model => model.Name)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.Description)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.Points)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.Stock)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.Category)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.Image)
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>
									@Html.DisplayFor(modelItem => item.Name)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Description)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Points)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Stock)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Category.Category)
								</td>
								<td>
									<img src="/img/products/@item.ImageUrl" class="detailImage" style="max-width:50px; max-height:50px;" />
								</td>
								<td>
									<a asp-action="Edit" asp-route-id="@item.Id" class="btn-grad-small">Edit</a>
									<a asp-action="Details" asp-route-id="@item.Id" class="btn-grad-small">Details</a>
									<a asp-action="Delete" asp-route-id="@item.Id" class="btn-grad-small">Delete</a>
								</td>
							</tr>
						}
					</tbody>
				</table>

				<p>
					<a asp-action="Create" class="btn-grad">Create New</a>
				</p>
			</div>
		</div>

		<div class="row text-white text-center" style="display: none; width: 40%;" id="filterRow">
			<h1 class="text-white text-center col-2">Filters</h1>
			<form method="post" asp-controller="Products" asp-action="Filtra">
				<div class="form-group-register">
					<input type="text" class="form-control" id="nome" name="nome" placeholder="Nome do Produto">
				</div>
				<div class="form-group-register">
					<input type="number" step="0.001" class="form-control" id="maxp" name="maxp" placeholder="Preço Maximo">
				</div>
				<div class="form-group-register">
					<input type="number" step="0.001" class="form-control" id="minp" name="minp" placeholder="Preço Minimo">
				</div>
				<div class="form-group-register">
					<select class="form-control" id="categoria" name="categoria" asp-items="@ViewBag.Categorias">
						<option value="" disabled selected>Selecionar categoria</option>
					</select>
				</div>
				<div class="text-center">
					<button type="submit" class="btn-grad">Filtrar</button>
				</div>
			</form>
		</div>
	}
}

<script>
	function toggleFilterRow() {
		var filterRow = document.getElementById('filterRow');
		var productsRow = document.getElementById('productsRow');
		filterRow.style.display = (filterRow.style.display === 'none' || filterRow.style.display === '') ? 'flex' : 'none';
		productsRow.style.display = productsRow.style.display = 'none';
	}
</script>