@model IEnumerable<IGrouping<Guid, ProductTransactions>>

<div class="container">
    <h1>Encomendas</h1>
    <div class="row">
        <div class="col">
            @foreach (var group in Model)
            {
                <div class="card mb-3">
                    @{
                        var firstTransaction = group.FirstOrDefault();
                        var totalPoints = 0;
                    }
                    @if(firstTransaction != null)
                    {
                    <div class="card-header">
                        <h5 class="card-title"> Data: @firstTransaction.Date</h5>
                        <h5 class="card-title"> Status: @firstTransaction.TransStatus</h5>
                    </div>
                    }
                    <div class="card-header">
                        <span class="text-muted">Transação ID: @group.Key</span>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            @foreach (var transaction in group)
                            {
                                var transactionPoints = transaction.Quantity * transaction.Points;
                                totalPoints += transactionPoints;

                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <strong>Produto:</strong> @transaction.ProductName
                                        </div>
                                        <div class="col-md-3">
                                            <strong>Quantidade:</strong> @transaction.Quantity
                                        </div>
                                        <div class="col-md-3">
                                            <strong>Pontos/Uni:</strong> @transaction.Points
                                        </div>
                                    </div>
                                </li>
                            }
                            <li class="list-group-item">
                                <strong>Total de Pontos Gastos:</strong> @totalPoints
                            </li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
