@using GlobalImpact.ViewModels.Account
@using Microsoft.AspNetCore.Identity
@model LoginViewModel
@inject SignInManager<AppUser> signInManager

<div class="login">
	<h1 class="display-4">Log in</h1>
	<div class="form-login">
		<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
			<hr />

			<div class="form-input">

				<div class="form-group-login">
					<input asp-for="UserName" class="form-control" id="username" placeholder="Username" />
					<span asp-validation-for="UserName" class="text-danger"></span>
				</div>

				<div class="form-group-login">
					<input asp-for="Password" class="form-control" type="password" id="password" placeholder="Password" />
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>

				<div class="form-group-checkbox">
					<input asp-for="RememberMe" />
					<label asp-for="RememberMe">@Html.DisplayNameFor(m => m.RememberMe)</label>
				</div>

				<div class="form-submit">
					<button type="submit" class="btn-grad">Log in</button>
				</div>

				<div class="form-plus">
						<a asp-action="ForgotPassword"> Forgot your password?</a>

						<a asp-area="" asp-controller="Account" asp-action="Register">Don't have an account?</a>
				</div>
			</div>
			<hr />
		</form>
	</div>

	@{
		var schemes = await signInManager.GetExternalAuthenticationSchemesAsync();
		var loginProviders = schemes.ToList();
	}

	@if (loginProviders.Count() > 0)
	{
		<div class="col-md-4">
			<section>
				<h6>Use another service to log in.</h6>
				<form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" role="form">
					<div>
						<p>
							@foreach (var provider in loginProviders)
							{
								<button type="submit" class="btn" style="background-color: white;border-radius: 10px;" name="provider" value="@provider.Name" title="Log in using your @provider.Name account">
									<img src="https://cdn-icons-png.flaticon.com/512/2702/2702602.png" alt="Google Logo" />
								</button>
							}
						</p>
					</div>
				</form>
			</section>
		</div>
	}
</div>
