@using GlobalImpact.ViewModels.Account
@model UserPageViewModel
<section class="profile">
	<h1 class="page-name">PROFILE</h1>

	<section class="profile-info">

		<section class="general-info">
			<img src="/userpic.jpg" alt="User Profile Picture" />
			<h5>@Model.user.FirstName @Model.user.LastName</h5>
			@if (User.IsInRole("client"))
			{
				<h6>Client Profile</h6>
			}
			else
			{
				<h6>Admin Profile</h6>
			}
			<div class="more-info">
				<p>Email</p>
				<p>@Model.user.Email</p>
			</div>
			<div class="more-info-side">
				<div class="more-info">
					<p>Age</p>
					<p>@Model.user.Age</p>
				</div>
				<div class="more-info">
					<p>NIF</p>
					<p>@Model.user.NIF</p>
				</div>
			</div>
			<div class="more-info">
				<p>My Points</p>
				<p>@Model.user.Points</p>
			</div>

		</section>

		<section class="other-info">
			<section class="code">
				<h6>My Recycling Code</h6>
				<h5>@Model.user.UniqueCode</h5>
			</section>
			<section class="last">
				<section class="last-transaction">
					<h6>My Last Transaction</h6>
					@if (Model.confirmRecyclingTransaction)
					{
						<h5>@Model.recyclingTransaction.RecyclingBin.Type Bin</h5>
						<p>@Model.recyclingTransaction.Id</p>
						
						<h5>@Model.recyclingTransaction.Weight Kg</h5>

						<h4>@Model.recyclingTransaction.Points Points</h4>

						<h5>
							@Model.recyclingTransaction.Date.ToShortDateString()
						</h5>
					}
					else
					{
						<h5>No Transactions</h5>
					}
				</section>
				<section class="last-order">
					<h6>My Last Order</h6>
					
					@if (Model.confirmProductTransactions)
					{
						var points = 0;
						<h5>@Model.productTransactions.TransStatus</h5>
						<p>@Model.productTransactions.Id</p>

						<img src="/box.png" alt="CardboardBox Picture" />
						
						@for (int i = 0; i < Model.produtos.Count; i++)
						{
							points += Model.precoProduto[i];
						}
						<h5>@points Points</h5>
						<h5>@Model.productTransactions.Date.ToShortDateString()</h5>
					}
					else
					{
						<h5>No Orders</h5>
					}
				</section>
			</section>
		</section>
	</section>
</section>