@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "UserPage";
}



<div class="text-center">
    <h1 class="display-4">UserPage</h1>
</div>
@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Client"))
    {
        <h3>Your role is Client</h3>
        <h3>@User.Identity.Name</h3>
    }
    else
    {
        <h3>Your role is Admin</h3>
        <h3>@User.Identity.Name</h3>
    }

    <h2>Id : @Model.Id</h2>
    <h2>Codigo: @Model.UniqueCode</h2>
    <h2>Nome :@Model.FirstName</h2>
    <h2>Idade : @Model.Age</h2>
    <h2>Pontos : @Model.Points</h2>
    <h2>NIF : @Model.NIF</h2>
    <h2>Email :@Model.Email</h2>
}