<div class="container">
    <h1 class="display-4 text-center mb-5">UserPage</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row justify-content-center">
            <div class="col-md-6"> <div class="card shadow-sm border-0 rounded-3">
                    <div class="card-header bg-primary text-white py-3" style="background-color: #21262B !important;">
                    @if (User.IsInRole("client"))
                    {
                        <h3 class="card-title text-center">Your role is Client</h3>
                    }
                    else
                    {
                            <h3 class="card-title text-center">Your role is Admin</h3>
                    }
                </div>
                    <div class="card-body p-4" style="background-color: #fffbc9;">
                    <div class="row">
                        <div class="col-md-12 text-center"> <i class="fas fa-user-circle fa-3x"></i> <h6 class="mt-3">Codigo de Transação:</h6>
                            <p>@Model.UniqueCode</p> 
                            </div>
                            <div class="col-md-12 text-center">
                                <i class="fas fa-id-card fa-3x"></i> <h6 class="mt-3">Nome:</h6>
                            <p>@Model.FirstName</p> </div>
                            <div class="col-md-12 text-center">
                                <i class="fas fa-birthday-cake fa-3x"></i> <h6 class="mt-3">Idade:</h6>
                            <p>@Model.Age</p> </div>
                            <div class="col-md-12 text-center">
                                <i class="fas fa-star fa-3x"></i>
                                <h6 class="mt-3">Pontos:</h6>
                                <p>@Model.Points</p>
                            </div>
                            <div class="col-md-12 text-center">
                                <i class="fas fa-id-card fa-3x"></i>
                                <h6 class="mt-3">NIF:</h6>
                                <p>@Model.NIF</p>
                            </div>
                            <div class="col-md-12 text-center">
                                <i class="fas fa-at fa-3x"></i>
                                <h6 class="mt-3">Email:</h6>
                                <p>@Model.Email</p>
                            </div>
                        </div>
                </div>
                </div>
            </div>
        </div>
    }
    </div>