@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "UserPage";
}


<div class="container">
    <div class="text-center">
        <h1 class="display-4">UserPage</h1>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-4">
                    <div class="card-header">
                        @if (User.IsInRole("Client"))
                        {
                            <h3 class="card-title">Your role is Client</h3>
                        }
                        else
                        {
                            <h3 class="card-title">Your role is Admin</h3>
                        }
                    </div>
                    <div class="card-body">
                        <h5 class="card-subtitle mb-2 text-muted">@User.Identity.Name</h5>
                        <hr />

                        <div class="row">
                            <div class="col-md-4">
                                <h6>Id:</h6>
                                <p>@Model.Id</p>
                            </div>
                            <div class="col-md-4">
                                <h6>Codigo:</h6>
                                <p>@Model.UniqueCode</p>
                            </div>
                            <div class="col-md-4">
                                <h6>Nome:</h6>
                                <p>@Model.FirstName</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h6>Idade:</h6>
                                <p>@Model.Age</p>
                            </div>
                            <div class="col-md-4">
                                <h6>Pontos:</h6>
                                <p>@Model.Points</p>
                            </div>
                            <div class="col-md-4">
                                <h6>NIF:</h6>
                                <p>@Model.NIF</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <h6>Email:</h6>
                                <p>@Model.Email</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>