<section class="profile">
	<h1 class="page-name">PROFILE</h1>

	<section class="profile-info">

		<section class="general-info">
			<img src="/userpic.jpg" alt="User Profile Picture" />
			<h5>@Model.FirstName @Model.LastName</h5>
			@if (User.IsInRole("client"))
			{
				<h6>Client Profile</h6>
			}
			else
			{
				<h6>Admin Profile</h6>
			}
			<div class="more-info">
				<p>Email</p>
				<p>@Model.Email</p>
			</div>
			<div class="more-info-side">
				<div class="more-info">
					<p>Age</p>
					<p>@Model.Age</p>
				</div>
				<div class="more-info">
					<p>NIF</p>
					<p>@Model.NIF</p>
				</div>
			</div>
			<div class="more-info">
				<p>My Points</p>
				<p>@Model.Points</p>
			</div>

		</section>

		<section class="other-info">
			<section class="code">
				<h6>My Recycling Code</h6>
				<h5>@Model.UniqueCode</h5>
			</section>
			<section class="last">
				<section class="last-transaction">
					<h6>My Last Transaction</h6>
					_context.ProductTransactions.OrderByDescending(r => r.Date)FirstOrDefault();
				</section>
				<section class="last-order">
					<h6>My Last Order</h6>
					<h5>@Model.UniqueCode</h5>
				</section>
			</section>
		</section>
	</section>
</section>