
@{
   var sum = 0;
   var prod = 0;
}
@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <table class="table">
            <thead>
                <tr>
                    <td>
                        Nome
                    </td>
                    <td>
                        Descrição
                    </td>
                    <td>
                        GIcoins
                    </td>
                    <td>
                        Quantitade
                    </td>
                    <td>
                       
                    </td>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in ViewBag.Items)
            {
                prod = item.Points * item.Quantity;
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @prod GIcoins
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        <img src="/img/products/@item.ImageUrl" class="detailImage" style="max-width:50px; max-height:50px;" />
                    </td>
                </tr>
            }
            <tr>
                <td>
                </td>
                <td>
                    Total
                </td>
                <td>
                            
                    @foreach (var item in ViewBag.Items)
                    {
                        sum += item.Points*item.Quantity;
                    }
                    @sum pontos
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-primary" asp-action="FinalizeCheckout" asp-route-name="@User.Identity.Name" asp-route-total="@sum">Finish Checkout</a>
    </div>
}