@model IEnumerable<GlobalImpact.Models.Product>


@{
    ViewData["Title"] = "Index";
}
@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("client"))
    {

        <h1>Index</h1>

        <form method="post" asp-controller="Store" asp-action="Filtra">
            <div class="form-group">
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome do Produto">
            </div>
            <div class="form-group">
                <input type="number" step="0.001" class="form-control" id="maxp" name="maxp" placeholder="Preço Maximo">
            </div>
            <div class="form-group">
                <input type="number" step="0.001" class="form-control" id="minp" name="minp" placeholder="Preço Minimo">
            </div>
            <div class="form-group">
                <select class="form-control" id="categoria" name="categoria" asp-items="@ViewBag.Categorias"></select>
            </div>
            <div class="text-center">
                <button type="submit" class="btn-grad">Filtrar</button>
            </div>
        </form>

        <form method="post" asp-controller="Store" asp-action="Order">
            <div class="form-group">
                <select class="form-control" id="orderList" name="orderList" asp-items="@ViewBag.Order"></select>
            </div>
            <div class="text-center">
                <button type="submit" class="btn-grad">Ordenar</button>
            </div>
        </form>

        <div class="text-center">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Tax)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Stock)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Category)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Image)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tax)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Stock)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Category.Category)
                            </td>
                            <td>
                                <img src="/img/products/@item.ImageUrl" class="detailImage" style="max-width:50px; max-height:50px;" />
                            </td>
                            <td>
                                <a asp-action="Details" asp-controller="Products" asp-route-id="@item.Id">Details</a>
                            </td>
                            <td>
                                <a asp-action="Add" asp-route-id="@item.Id">Add</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @if (ViewBag.Items != null)
        {
            <ul>
                @foreach (var item in ViewBag.Items)
                {
                    <li>@item.Name</li>
                    <li>@item.Category.Category</li>
                    <li>@item.Quantity</li>
                }
            </ul>
        }
        else
        {
            <p>Nenhum item disponível.</p>
        }

    }
}