@using System.Runtime.InteropServices.JavaScript
@using Microsoft.AspNetCore.Razor.Language.Extensions
@model IEnumerable<GlobalImpact.Models.Product>


@{
    ViewData["Title"] = "Index";
    Dictionary<Guid, int> cart = new Dictionary<Guid, int>();
}
@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("client") || User.IsInRole("admin"))
    {

        <h1>Loja GlobalImpackt</h1>
        <h5>Encomenda aqui produtos alimentares e higiene, gasta os teus pontos ganhos pela tua contribuição  !!</h5>
        <p></p>

        <div class="text-center">
            <!-- Div para centralizar -->
            <div class="">
                <form method="post" asp-controller="Store" asp-action="Order" class="d-flex align-items-center">
                    <div class="form-group mr-2 mb-0">
                        <select class="form-control" id="orderList" name="orderList" asp-items="@ViewBag.Order" style="width: 200px;"></select>
                    </div>
                    <button style="width: 200px;" type="submit" class="btn-grad">Ordenar</button>
                </form>
            </div>
        </div>
        
        <div class="container mt-3 ml-3"> 
        <div class="row">
            <div class="col-md-3">
                <form method="post" asp-controller="Store" asp-action="Filtra">
                    <div class="form-group">
                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome do Produto">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="maxp" name="maxp" placeholder="GI coins Maximo">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="minp" name="minp" placeholder="GI coins Minimo">
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="categoria" name="categoria" asp-items="@ViewBag.Categorias"></select>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn-grad">Filtrar</button>
                    </div>
                </form>

                @if (ViewBag.Items != null)
                {

                    <div class="row">
                        <div class="col-md-3">
                            <div class="sidebar-header d-flex justify-content-between align-items-center">
                                <h3>Carrinho</h3>
                                <div class="button-container">
                                    <a class="btn btn-primary" asp-action="Checkout" asp-route-items="@ViewBag.Items">Checkout</a>                                    
                                </div>
                                <div class="button-container">
                                    <a class="btn btn-secondary ml-2" asp-action="DeleteAllFromCart">Clear</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <ul class="list-unstyled components">
                        <li class="product-container d-flex flex-column">
                            <div class="product-item align-items-center">
                                @foreach (var item in ViewBag.Items)
                                {
                                    <div class="row">
                                        <div class="col-4" style="padding-right:0!important"><h6>@item.Name</h6></div>
                                        <div class="col-3" style="padding-right:0!important; padding-left:0!important">
                                            <p>@item.Points GIcoins</p>
                                        </div>
                                        <div class="col-3" style="padding-right:0!important; padding-left:0!important">
                                            <input id="@item.Id" type="number" value="@item.Quantity" min="1" class="rounded-3 w-100">
                                        </div>
                                        <div class="col-1">
                                            <a class="btn btn-danger btn-sm remove-btn" asp-controller="Store" asp-action="DeleteFromCart" asp-route-id="@item.Id">X</a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </li>
                    </ul>
                }
            </div>
            <div class="col-md-9">
                <div class="container">
                    <div class="row">
                        @if (Model != null)
                        {
                            @foreach (var item in Model)
                            {
                                <div class="col-md-3 mb-4">
                                    <div class="card h-100">
                                        <img src="/img/products/@item.ImageUrl" class="card-img-top mx-auto" alt="Product" style="width: 120px; height: 120px; object-fit: contain;">
                                        <div class="card-body text-center">
                                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                                            <p class="card-text" style="font-size: 16px;">@Html.DisplayFor(modelItem => item.Description) <br />
                                                @Html.DisplayFor(modelItem => item.Points) GIcoins/un
                                            </p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <a class="btn btn-sm btn-primary" asp-action="Add" asp-route-id="@item.Id">Buy Now</a>
                                                </div>
                                                <!-- Se desejar adicionar algum botão ou conteúdo extra -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>


            </div>
        </div>
        </div>
    }
}

@foreach (var item in ViewBag.Items)
{
    cart.Add(item.Id, item.Quantity);
}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    let model = @Html.Raw(Json.Serialize(cart));

    console.log(model);

    for (let key in model) {
        document.getElementById(key).addEventListener("input", function () {
            let quantity = document.getElementById(key).value;
            updateQuantity(key, quantity);
        });
    }

    function updateQuantity(id, quantity) {
        $.ajax(
            {
                type: 'POST',
                dataType: 'JSON',
                url: '/Store/UpdateQuantity',
                data: { id: id, quantity: quantity },
                success:
                    function (response) {
                        // Generate HTML table.
                        console.log("success");
                    },
                error:
                    function (response) {
                        alert("Error: " + response);
                    }
            });
    }
</script>
